/* Basic reset and styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cc4747;
    color: #fff;
    padding: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    text-align: center;
}
button{

    height:100px;
    width:120px;
    border-radius: 10px;
    border-width: 2px;
    padding: 2px;
    border:none;
    background-color: #cc4747;
    color: beige;
    margin-left: 120px;
    margin-right: 120px;
    
}

button:hover {
    background-color: rgb(235, 63, 63);
}


img {
    align-items: center;
    width: 100%;
    height: 500px;
    /* border-radius: 8px; */
    margin-bottom: 20px;
    position: relative;
}

header h1 {
    margin: 0;
}

header input[type="text"] {
    padding: 0.5rem;
    width: 200px;
    border-radius: 5px;
    border: none;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

#categories, #popular-products {
    padding: 2rem;
    align-items: center;
    margin-right: 50px;
}

.category, .product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    display: inline-block;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
