body {
    
    background-color: #f7e9e9; 
    font-family: Arial, sans-serif;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh; 
    padding-top: 50px; 

}

.containerImg{
    display: flex;
}

img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 20px;
}

.linkColor{

    color: white;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 40px
}

header {
    background-color: #f17b7b;
    color: white;
    width: 100%;
    padding: 15px ;
    box-sizing: border-box;
    position: fixed; 
    top: 0;
    left: 0;
    
}

.divform{
    margin-top: 180px;
    background-color: #fbdbdb;
    border-radius: 8px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    padding: 30px;
    width: 100%;
    max-width: 350px; 
    box-sizing: border-box;
    text-align: center; 
}



form{
    display: flex;
    flex-direction: column;
}

.formgroup{
    text-align: left;
}

.formgroup-label1 {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin-bottom: 20px;
}

.formgroup-label-inputs {
    
    display: block; 
    font-size: 14px;
    color: #333;
    margin-top: 15px;
    margin-bottom: 5px;
}

input{

    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 14px;
}

.buttonContainer{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: #f17b7b;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size:  16px;
    font-weight: bold;
    width: 100%;
}

button:hover{
    background-color: #e06a6a;
}

a{
    color: #f17b7b;
    font-size: 13px;
    margin: 5px 0;
    transition: all 0.3s;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

