# Node modules
node_modules/

# Environment variables (IMPORTANT)
.env

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Vercel / deployment
.vercel

# Optional
coverage/